@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


body{
    width:100%;
    height:100vh;
    font-family: 'Poppins', sans-serif;
    background: #3e6bce;
}



.section{
    width:70%;
    position: relative;
    top:0px;
    left:0px;
    margin:0px auto;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.section .link{
    padding:12px;
    margin:10px auto;
    background: rgba(255, 255, 255, 0.178);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}

.section .counts-cont{
    width: 90%;
    border-radius: 10px;
    background: #fff !important;
    display:flex;
    margin:10px auto;
    display:flex;
    justify-content: space-around;
    box-shadow: 0px 0px 3px #777;
    padding:12px;
    flex-wrap: wrap;
}
.section .counts-cont .box{
    text-align:center;
    margin:10px auto;
}
.section .counts-cont .box .stat-val{
    font-weight: 600;
}


.section .main{
    width: 100%;
    margin:0px auto;
    display:flex;
    flex-wrap: wrap;
}

.section .map-cont{
    width: 55%;
    height:auto;
    padding:0px !important;
    background:#fff;
    box-shadow: 0px 0px 7px #cccccca8;
    margin:10px auto;
    border-radius:7px;
}

.section .covid-country-area .cont{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin:10px auto;
}


.section .covid-country-area .country-flag{
    width: 150px;
    height: 90px;
    padding:6px;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 0px 3px #ccc;
}

.section .covid-country-area .total-cases{
    width: 200px;
    height: 90px;
    padding:12px;
    border-left:3px solid rgb(19, 153, 241);
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 0px 3px #ccc;
}

.section .covid-country-area .total-recov{
    width: 150px;
    height: 90px;
    padding:12px;
    border-left:3px solid green;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 0px 3px #ccc;
}
.section .covid-country-area .total-death{
    width: 200px;
    height: 90px;
    padding:12px;
    border-left:3px solid red;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 0px 3px #ccc;

}



.section .countries-cont{
    width: 300px;
    padding:12px;
    background:#fff;
    margin:10px auto;
    box-shadow: 0px 0px 7px #cccccca8;
    border-radius:7px;
}

.section .countries-cont .affected-cont::-webkit-scrollbar{
    display: none;
}

.section .countries-cont .affected-cont {
    overflow-y: scroll;
    height:200px;
}
.section .countries-cont .affected-cont .card-cont{
    height:auto;
    background: #e9e7e7;
    overflow: hidden;
    margin-top:5px;
    border-radius: 5px;
    padding:10px;
}
.section .countries-cont .affected-cont .card-cont img{
    width:20px;
}


/* chart */
.chart-cont{
    width:100%;
    padding:10px;
    background: #fff;
}
.chart-cont .chart-js{
    height:40vh !important; 
    width:70vw !important; 
    margin-top:10px auto !important;
}
/* .chart-cont .chart-js canvas{
    width: 300px !important;
    height: 300px !important;
} */



 @media(max-width: 768px){
    .section{
        width:100% !important;
    }
    .section .counts-cont{
        position: relative;
        transform:translate(0,0);
        top:0px;
        width:100% !important;
        background: none !important;
        box-shadow: none !important;
    }
    .section .counts-cont .box{
        padding:10px;
        background: #fff;
        box-shadow: 0px 0px 3px #fff;
        width:170px;
        height:auto;
        margin:10px !important;
        border-radius:10px;
    }
    .section .main{
        width: 100% !important;
    }
    .section .map-cont{
        width: 100%;
        height:auto;
        padding:12px;
        background:#fff;
        box-shadow: 0px 0px 7px #cccccca8;
        margin:10px auto;
        border-radius:7px;
    }
    .section .countries-cont{
        width: 100% !important;
    }
    .section .countries-cont form .countries{
        width:270px !important;
    }
    .section .covid-country-area .cont{
        flex-wrap: wrap !important;
        align-items:none !important;
        justify-content: none !important;
        margin:10px !important;
    }
    .section .covid-country-area .country-flag{
        width: 100px;
    }
    .section .covid-country-area .total-death{
        width: 150px;
    }
}
